html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Preahvihear;
  src: url("/assets/font/Preahvihear.ttf");
}

@font-face {
  font-family: Kantumruy;
  src: url("/assets/font/Kantumruy-Regular.ttf");
}

.kantumruyFont {
  font-family: Kantumruy !important;
}

/* style article from backend */

/* Text Center Style ==========================================================*/
.text-center-style {
  font-size: 25px;
  font-family: Preahvihear !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Text Center Style =========================================== */

/* Subtitle  ================================================================ */
.Subtitle {
  display: block;
  font-size: 25px;
  font-family: Preahvihear !important;
  margin-bottom: 15px;
}

.khmer-Subtitle {
  display: block;
  font-size: 25px;
  font-family: Preahvihear !important;
  margin-bottom: 15px;
}
/* Subtitle  ================================================================ */

/* Description ================================================================================ */
.description {
  display: block;
  text-align: justify !important;
  text-decoration: none;
  font-family: Preahvihear;
  font-size: 18px;
}

.khmer-description {
  display: block;
  text-align: justify !important;
  text-decoration: none;
  font-family: Kantumruy;
  margin-bottom: 15px;
  font-size: 18px;
}
/* Description ================================================================================ */



/* List Style ================================================================================= */
.ListStyle  { 
  padding: 20px;
  font-family: Preahvihear;
  font-size: 18px;
}

.khmer-ListStyle {
  font-family: Kantumruy;
  margin-top: 25px;  
  font-size: 18px;
}

ul.list-element {
  list-style-type: circle;    
}
li.li-element {
  margin:0 0 10px 0px !important; 
}

ul.listkh-element {
  list-style-type: circle;    
}
li.likh-element {
  margin:0 0 10px 20px !important; 
} 
/* List Style ================================================================================= */




/*  Image Two =================================================================== */
.ImageStyleTwo{
    width: 98%;
}

.ImageViewTwo {
  margin-top: 30px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5px;

}
/* Image Two ========================================================================== */




/* Image One =========================================================================== */
.ImageView {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.khmer-ImageView {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.ImageStyle{
  width: 55%;
}

.khmer-ImageStyle {
  width: 55%;
}

@media (min-width: 426px) and (max-width: 600px) {
  .ImageView {   
    display: flex;
    justify-content: center;
  } 
  .ImageStyle {     
    width: 100% !important;       
  }

  .khmer-ImageView {    
    display: flex;
    justify-content: center;
  } 
  .khmer-ImageStyle {
    width: 100%;
  }
}

@media (min-width: 377px) and (max-width: 425px) {
 
  .ImageView {   
    display: flex;
    justify-content: center;
  } 
  .ImageStyle {     
    width: 100% !important;       
  }
}

@media (min-width: 0px) and (max-width: 376px) {
  .ImageView {   
    display: flex;
    justify-content: center;
  } 
  .ImageStyle {     
    width: 100% !important; 
      
  }
}
/* Image One =========================================================================== */

